html
  height: 100%

body
  height: 100%
  margin: 0

.body-wrapper
  height: calc(100% - 40px)
  padding: 20px

.main-content
  border-radius: 5px
  border: solid 1px #867C7C
  box-shadow: 10px 10px 5px 10px black
  height: 100%
  overflow: hidden
  position: relative

.content
  bottom: 0
  left: 260px
  position: absolute
  right: 0
  top: 0
